.idea
T-POO-700_theme01_project.pdf
front/.env
front/node_modules
front/android/.gitignore
front/android/build.gradle
front/android/capacitor.settings.gradle
front/android/gradle.properties
front/android/gradlew
front/android/gradlew.bat
front/android/settings.gradle
front/android/variables.gradle
front/android/app/.gitignore
front/android/app/build.gradle
front/android/app/capacitor.build.gradle
front/android/app/proguard-rules.pro
front/android/app/src/androidTest/java/com/getcapacitor/myapp/ExampleInstrumentedTest.java
front/android/app/src/main/AndroidManifest.xml
front/android/app/src/main/java/com/frontv2/MainActivity.java
front/android/app/src/main/res/drawable/ic_launcher_background.xml
front/android/app/src/main/res/drawable/splash.png
front/android/app/src/main/res/drawable-land-hdpi/splash.png
front/android/app/src/main/res/drawable-land-mdpi/splash.png
front/android/app/src/main/res/drawable-land-xhdpi/splash.png
front/android/app/src/main/res/drawable-land-xxhdpi/splash.png
front/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
front/android/app/src/main/res/drawable-port-hdpi/splash.png
front/android/app/src/main/res/drawable-port-mdpi/splash.png
front/android/app/src/main/res/drawable-port-xhdpi/splash.png
front/android/app/src/main/res/drawable-port-xxhdpi/splash.png
front/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
front/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
front/android/app/src/main/res/layout/activity_main.xml
front/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
front/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
front/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
front/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
front/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
front/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
front/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
front/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
front/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
front/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
front/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
front/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
front/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
front/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
front/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
front/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
front/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
front/android/app/src/main/res/values/ic_launcher_background.xml
front/android/app/src/main/res/values/strings.xml
front/android/app/src/main/res/values/styles.xml
front/android/app/src/main/res/xml/file_paths.xml
front/android/app/src/test/java/com/getcapacitor/myapp/ExampleUnitTest.java
front/android/gradle/wrapper/gradle-wrapper.jar
front/android/gradle/wrapper/gradle-wrapper.properties
.vscode/settings.json
